// $clr1: #172b4d;
$clr1:#324462;
// $clr1: #37517c;
$clr2: #ebecf0;
$clr3: #5e6c84;
$clr4: #ebecf0;
$clr5: #0079bf;
$clr6: #026aa7;
$clr7: white;
$clr8: #f4f5f7;
$clr9: #42526e;
$clr10: #091e420a;
$clr11: #091e4214;
$clr12: #b04632;
$clr13: #091e4221;
