.activities {
    min-height: 100px;
    width: 95%;
    margin: 20px 0 20px 20px;
    .top {
        .activity-icon {
            left: 0;
            top: 0;
        }
        .title-and-toggle {
            margin-left: 5%;
            width: 100%;
            h3 {
                margin: 0;
            }
            .edit-desc {
                padding: 10px;
                // padding: 6px 12px;
                width: auto;
            }
        }
    }
    // margin-left: 65px;
    // margin-right: 1.5%;
    // margin-bottom: 20px;
}
