.side-editing-container {
    background-color: #0009;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    .editable-container {
        .cover {
            height: 32px;
            border-radius: 3px 3px 0 0;
        }
        .editable-inner-container {
            background-color: $clr7;
            border-radius: 0 0 3px 3px;
            min-height: 80px;
            padding-top: 3px;
            .labels {
                margin: 6px 7px;
                gap: 4px;
                & > * {
                    @include label {
                        word-wrap: break-word;
                    }
                }
            }
            textarea {
                padding: 0;
                border: none;
                outline: none;
                margin: 0 6px;
            }
            .badgets {
                padding: 6px;
                .members {
                    right: 0;
                    bottom: 5px;
                }
            }
        }
        .add-btn{
            text-transform: capitalize;
            margin-top: 16px;
        }
    }
    .side-editing {
        height: 300px;
        left: 100%;
        z-index: 3;
        li {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 3px;
            background-color: #0009;
            color: #e6e6e6;
            transition: 0.085s ease-in;
            height: 32px;
            width: fit-content;
            padding: 0 11px;
            margin-bottom: 4px;
            cursor: pointer;
            .opt {
                &::before {
                    margin-right: 8px;
                }
                &0::before {
                    content: "\e912";
                }
                &1::before {
                    content: "\e93f";
                }
                &2::before {
                    content: "\e946";
                }
                &3::before {
                    content: "\e914";
                }
                &4::before {
                    content: "\e94a";
                }
                &5::before {
                    content: "\e912";
                }
                &6::before {
                    content: "\e91b";
                }
                &7::before {
                    content: "\e907";
                }
            }
            &:hover {
                background: #000c;
                color: $clr7;
                transform: translateX(5px);
            }
        }
    }
}
